body{
    font-family: Arial;
    background:#f2f2f2;
    text-align:center;
}

h1{
    background:#333;
    color:white;
    padding:15px;
}

.container{
    margin:20px;
}

input{
    padding:10px;
    margin:5px;
}

button{
    padding:10px;
    background:green;
    color:white;
    border:none;
}

table{
    width:60%;
    margin:auto;
    border-collapse:collapse;
    background:white;
}

th,td{
    padding:10px;
    border:1px solid black;
}

th{
    background:#444;
    color:white;
}

.delete{
    background:rgb(176, 159, 25);
}
